.idea
BSC*
im*
.ipynb_checkpoints
*.fa*
*.qual
seqclean
*.pkl
.texpadtmp
*.pdf
*.xml
*.rtf
*.dat
interpro
*.txt
*.annot
*.gz
*.counts
*.csv
*.Rproj*
.Rproj.user
.RData
.Rhistory
*.svg
*.bgr
*.Rdata
*.sqlite
*.png
_region_.tex
Z4006*
*.txt
*~
